/* impostazioni generali */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #083b4c;
}

#title {
    color: white;
    text-align: center;
    padding-top: 30px;
    font-size: 60px;
}

#containerSquare {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 20px auto;
    width: 60%;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: #1389b2;
}

.square3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: #0bd6a1;
}

.square5 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: #ffd166;
}

.square15 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: #f0466f;
}